[submodule "portal"]
	path = portal
	url = https://github.com:digitalcityscience/CUT_Prototyp_masterportal__user.git
[submodule "addons"]
	path = addons
	url = https://github.com:digitalcityscience/CUT_Prototyp_masterportal_addon.git
